.ProseMirror > *:not(:first-child) {
  margin-top: 14px;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror ul {
  margin-left: 20px;
}

.tiptap p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
